# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Production
/build
/client/dist

# dotenv environment variables file
.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# SQLite database file
/server/database.db
/server/database.db-journal

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE / Editor specific
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 